.DS_Store
venv
env
db.sqlite3
__pycache__
#.pyc
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb

whoosh_index/

# spyder project
.spyproject/
